# ITA6017 Python Programming : Assignment No.2

# Pradeep Kumar 22MCA1049

## 1. Make a program that asks the number between 1 and 10. If the number is out of range the program should display “invalid number”.

In [182]:
print("Pradeep Kumar 22MCA1049")
print("")
num = int(input("Enter Number between 1 to 10 : "))

if num<1 or num>10:
    print("Invalid Number")
else:
    print("Valid Number")

Pradeep Kumar 22MCA1049

Enter Number between 1 to 10 : 7
Valid Number

## 2. Make a program that lists the countries in the set clist = ['Canada','USA','Mexico','Australia']

In [183]:
print("Pradeep Kumar 22MCA1049")
print("")
list = ['Canada','USA','Mexico','Australia']
print("List of Countries is : \n",list)

Pradeep Kumar 22MCA1049

List of Countries is :
 ['Canada', 'USA', 'Mexico', 'Australia']

## 3. Create a loop that counts from 0 to 100

In [184]:
print("Pradeep Kumar 22MCA1049")
print("")
print("Counting of numbers from 1 to 100 is :\n")
for i in range (1,101):
    print(i,end=" ")

Pradeep Kumar 22MCA1049

Counting of numbers from 1 to 100 is :

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

## 4. Make a multiplication table using a loop

In [110]:
print("Pradeep Kumar 22MCA1049")
print("")
i =1
table = int(input("Enter number to generate table of that number : "))
print("Table of",table ,"is : ")
for i in range (1,11):
    print ("\t",table,"*",i,"=",i*table,)

Pradeep Kumar 22MCA1049

Enter number to generate table of that number : 9
Table of 9 is :
	 9 * 1 = 9
	 9 * 2 = 18
	 9 * 3 = 27
	 9 * 4 = 36
	 9 * 5 = 45
	 9 * 6 = 54
	 9 * 7 = 63
	 9 * 8 = 72
	 9 * 9 = 81
	 9 * 10 = 90

## 5. Output the numbers 1 to 10 backwards using a loop

In [111]:
print("Pradeep Kumar 22MCA1049")
print("")
print("Numbers in forward order from 1 to 10 is : ")
i = 1
for i in range(1,11):
    print(i, end=" ")
    
print("\nNumbers in backwards order from 10 to 1 is : ")
j=1
for j in range(10,0,-1):
    print(j, end = " ")

Pradeep Kumar 22MCA1049

Numbers in forward order from 1 to 10 is :
1 2 3 4 5 6 7 8 9 10
Numbers in backwards order from 10 to 1 is :
10 9 8 7 6 5 4 3 2 1

## 6. Create a loop that counts all even numbers to 10

In [112]:
print("Pradeep Kumar 22MCA1049")
print("")
n=0
for i in range (1,11):
    if i%2==0:
        n=n+1
print("Number of Odd Numbers from 1 to 10 is : ",n)

Pradeep Kumar 22MCA1049

Number of Odd Numbers from 1 to 10 is :  5

## 7. Create a loop that sums the numbers from 100 to 200

In [119]:
print("Pradeep Kumar 22MCA1049")
print("")
sum = 0
print("Using for loop : ")
for i in range (100,201):
    sum+=i
print("Sum of numbers from 100 to 200 is : ",sum)

print("Using while loop : ")
j=100
sum =0
while j<=200:
    sum+=j
    j+=1
print("Sum of numbers from 100 to 200 is : ",sum)

Pradeep Kumar 22MCA1049

Using for loop :
Sum of numbers from 100 to 200 is :  15150
Using while loop :
Sum of numbers from 100 to 200 is :  15150

## 8. Make a program that lists the countries in the set below using a while loop. clist = ["Canada","USA","Mexico"]

In [133]:
print("Pradeep Kumar 22MCA1049")
print("")
clist = ["Canada","USA","Mexico"]
len(clist)
i=0
print("List of countries is : ")
while i<=len(clist)-1:
    print("\t",clist[0+i])
    i+=1

Pradeep Kumar 22MCA1049

List of countries is :
	 Canada
	 USA
	 Mexico

## 9. Make a program that displays the states in the U.S. states = [ 'Alabama', .. ,'Wyoming' ] Display all states starting with the letter M.

In [186]:
print("Pradeep Kumar 22MCA1049")
print("")

#I found all the list of states from internet and stored in a list 
#then applied startwith function for printing states start with M
states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 
          'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
          'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 
          'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 
          'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 
          'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 
          'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

print("Stes of america starting with M is : ")
for state in states:
    if state.startswith('M'):
        print(state)

Pradeep Kumar 22MCA1049

Stes of america starting with M is :
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana

## 10. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34, 67, 55, 33, 12, 98. Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34',67', '55', '33', '12', '98').

In [187]:
print("Pradeep Kumar 22MCA1049")
print("")
user_input = input("Enter comma-separated numbers: ")
numbers = user_input.split(",")
print("Expected output is : ")
print(numbers)
print(tuple(numbers))

Pradeep Kumar 22MCA1049

Enter comma-separated numbers: 34,67,55,33,12,98
Expected output is :
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

## 11.With a given tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10), write a program to  print the first half values in one line and the last half values in one line

In [156]:
print("Pradeep Kumar 22MCA1049")
print("")
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("Tuple is : ",t)
half = len(t)//2
print("First half is : ",t[:half])
print("Second half is :",t[half:])

Pradeep Kumar 22MCA1049

Tuple is :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
First half is :  (1, 2, 3, 4, 5)
Second half is : (6, 7, 8, 9, 10)

## 12. Find a) The sum and average of given numbers using lists.

In [181]:
print("Pradeep Kumar 22MCA1049")
print("")
sum=0
list1 = [1,2,3,4,5,6,7,8,9]
print(list1)
for i in list1:
    sum+=i
print("Sum of all elements of the list is : ",sum)
print("Aveerage of all numbers of the list is : ",sum/len(list1))

Pradeep Kumar 22MCA1049

[1, 2, 3, 4, 5, 6, 7, 8, 9]
Sum of all elements of the list is :  45
Aveerage of all numbers of the list is :  5.0

## b) To display elements of list in reverse order.

In [177]:
print("Pradeep Kumar 22MCA1049")
print("")
print("Elements of list is : ",list1)
print("Reverse of the list is : ", list[::-1])

Elements of list is :  [1, 2, 3, 4, 5, 6, 7, 8, 9]
Reverse of the list is :  [9, 8, 7, 6, 5, 4, 3, 2, 1]

##   c) Finding the minimum and maximum elements in the lists.

In [180]:
print("Pradeep Kumar 22MCA1049")
print("")
print("Maximum element of the list is : ",max(list1))
print("Minimum element of the list is : ",min(list1))

Maximum element of the list is :  9
Minimum element of the list is :  1