# ITA6017 Python Programming 
# ILIYAS ANSARI (22MCA1079)

# 1. Make a program that asks the number between 1 and 10. If the number is out of range the program should display “invalid number”.

In [1]:
print("ILIYAS ANSARI 22MCA1079")
print("")

num = int(input("Enter the number between 1 to 10: "))
if (num>10 or num<1):
    print("Invalid Number")
else:
    print("Valid")

Enter the number between 1 to 10: 9
Valid

# 2. Make a program that lists the countries in the set clist =     ['Canada','USA','Mexico','Australia']

In [2]:
print("ILIYAS ANSARI 22MCA1079")
print("")

clist = ['Canada','USA','Mexico','Australia']
print(clist)

ILIYAS ANSARI 22MCA1079

['Canada', 'USA', 'Mexico', 'Australia']

# 3. Create a loop that counts from 0 to 100

In [3]:
print("ILIYAS ANSARI 22MCA1079")
print("")

for i in range(0,101):
    print(i, end=" ")

ILIYAS ANSARI 22MCA1079

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 4. Make a multiplication table using a loop¶

In [4]:
print("ILIYAS ANSARI 22MCA1079")
print("")

num = int(input("Enter the num: "))
print("Table of",num ,"is : ")
for i in range(1,11):
    print(f"\t{num}X{i}={num*i}")

ILIYAS ANSARI 22MCA1079

Enter the num: 8
Table of 8 is :
	8X1=8
	8X2=16
	8X3=24
	8X4=32
	8X5=40
	8X6=48
	8X7=56
	8X8=64
	8X9=72
	8X10=80

# 5. Output the numbers 1 to 10 backwards using a loop

In [5]:
print("ILIYAS ANSARI 22MCA1079")
print("")

print("Numbers from 1 to 10 in backward direction:")
for i in range(10,0,-1):
    print(i, end=" ")

ILIYAS ANSARI 22MCA1079

Numbers from 1 to 10 in backward direction:
10 9 8 7 6 5 4 3 2 1

# 6. Create a loop that counts all even numbers to 10

In [6]:
print("ILIYAS ANSARI 22MCA1079")
print("")

n=0
for i in range(1,11):
    if i%2==0:
        n+=1
print(f"Numbers of even numbers upto 10: {n}")

ILIYAS ANSARI 22MCA1079

Numbers of even numbers upto 10: 5

# 7. Create a loop that sums the numbers from 100 to 200

In [7]:
print("ILIYAS ANSARI 22MCA1079")
print("")

sum=0
for i in range(100,201):
    sum += i
print("Sum from 100 to 200: ",sum)

ILIYAS ANSARI 22MCA1079

Sum from 100 to 200:  15150

# 8. Make a program that lists the countries in the set below using a while loop. clist = ["Canada","USA","Mexico"]

In [8]:
print("ILIYAS ANSARI 22MCA1079")
print("")

# clist = set()
# n=0
# while(n<3):
#     clist.add(input("Enter the country name: "))
#     n += 1
# print("Elements of Lists are: ",clist)

clist = ["Canada","USA","Mexico"]
n = len(clist)
i=0
while i<n:
    print("\t", clist[i])
    i += 1

ILIYAS ANSARI 22MCA1079

	 Canada
	 USA
	 Mexico

# 9. Make a program that displays the states in the U.S. states = [ 'Alabama', .. ,'Wyoming' ] Display all states starting with the letter M.

In [9]:
print("ILIYAS ANSARI 22MCA1079")
print("")

#I found all the list of states from internet and stored in a list 

states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 
          'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
          'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 
          'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 
          'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 
          'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 
          'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

print("States of America starting with M is : ")
for state in states:
    if state.startswith('M'):
        print(state)

ILIYAS ANSARI 22MCA1079

States of America starting with M is :
Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana

# 10. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34, 67, 55, 33, 12, 98. Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34',67', '55', '33', '12', '98').

In [10]:
print("ILIYAS ANSARI 22MCA1079")
print("")

user_input = input("Enter comma-separated numbers: ")
numbers = user_input.split(",")
print("Expected output is : ")
print(numbers)
print(tuple(numbers))

ILIYAS ANSARI 22MCA1079

Enter comma-separated numbers: 34,67,55,33,12,98
Expected output is :
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

# 11.With a given tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10), write a program to print the first half values in one line and the last half values in one line

In [11]:
print("ILIYAS ANSARI 22MCA1079")
print("")

t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("Tuple is : ",t)
half = len(t)//2
print("First half is : ",t[:half])
print("Second half is :",t[half:])

ILIYAS ANSARI 22MCA1079

Tuple is :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
First half is :  (1, 2, 3, 4, 5)
Second half is : (6, 7, 8, 9, 10)

# 12. Find 
# a) The sum and average of given numbers using lists.

In [12]:
print("ILIYAS ANSARI 22MCA1079")
print("")

sum=0
list1 = [1,2,3,4,5,6,7,8,9]
print(list1)
for i in list1:
    sum+=i
print("Sum of all elements of the list is : ",sum)
print("Aveerage of all numbers of the list is : ",sum/len(list1))

ILIYAS ANSARI 22MCA1079

[1, 2, 3, 4, 5, 6, 7, 8, 9]
Sum of all elements of the list is :  45
Aveerage of all numbers of the list is :  5.0

# b) To display elements of list in reverse order.

In [13]:
print("ILIYAS ANSARI 22MCA1079")
print("")

print("Elements of lists: ",list1)
print("Elements of lists in reverse order: ",list1[::-1])

ILIYAS ANSARI 22MCA1079

Elements of lists:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
Elements of lists in reverse order:  [9, 8, 7, 6, 5, 4, 3, 2, 1]

# c) Finding the minimum and maximum elements in the lists.

In [14]:
print("ILIYAS ANSARI 22MCA1079")
print("")

print("Maximum Element from list: ", max(list1))
print("Minimum Element from list: ", min(list1))

ILIYAS ANSARI 22MCA1079

Maximum Element from list:  9
Minimum Element from list:  1